.MenubarBox {
    display: flex;
    margin-left: 50px;
}

.MenubarBox div {
    padding: 10px 15px 5px 15px;
    margin: 0 5px;
    margin-top: 15px;
    border-radius: 10px 10px 0 0;
    border: 2px solid white;
    cursor: pointer;
}

.MenubarBox div:hover,
.active {
    background-color: white;
    color: black;
}
